body {
    margin: 0;
    color: #333333;
    font-size: 15px;
    font-family: 'Ovo', serif;
    line-height: 1.6;
    font-style: normal;
    font-weight: normal;

}

hr {
    border: 0;
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: #e5e5e5;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
}


/*section__first*/

.section__first{
    width: 100%;
    padding-top: 56px;
    height: 100%;

}

.first__welcome{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.first__welcome--title{
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-top: 32px;
    letter-spacing: 0.04em;
    color: #202020;
    text-align: center;
}

.first__welcome--image{
    position: relative;
}

.first__welcome--image img{
    display: block;
    max-width: 100%;
    height: auto;

}

.first__welcome--image2{
    position: absolute;
    top: 35%;
    left: -48%;
}

.first__welcome--image3{
    position: absolute;
    right: 13%;
    top: 78%;
    z-index: 1;
}

.first__welcome--leftFLower{
    position: absolute;
    left: 0;
    top: 57%;
    z-index: -1;
}


.first__welcome--rightFLower{
    position: absolute;
    right: 0;
    top: 57%;
    z-index: -1;
}

.first__wish{
    font-family: 'Roboto';
    height: 40%;
    padding-top: 128px;
    margin: 124px auto 0px;
    background-color:#FBDDDD;
    padding-left: 58px;
}

.first__wish--title{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #202020;

}

/*section__second*/
.section__second{
    width: 100%;
    height: 700px;
}

.wedding__process{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wedding__process--bg{
    position: relative;
}

.wedding__process--bg-back{
    background: #B3EBBE;
    width: 250px;
    height: 759px;
    position: relative;
}

.wedding__process--bg-front{
    position: absolute;
    right: 25%;
    top: 20%;
}

.wedding__process--wish{
    font-family: 'Roboto';

}

.wedding__process--wish-title{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #202020;

}

.wedding__process--img{
    position: relative;
    margin-top: 24px;
}

.wedding__process--img-back{
    background: #FBDDDD;
    width: 240px;
    height: 240px;
    position: relative;
}

.wedding__process--img-front{
    position: absolute;
    left: 25%;
    top: 25%;
}

/*section__third*/

.section__third{
    background: #F2EDE9;
    width: 100%;
    height: auto;
    margin-top: 58px;
}

.wedding__plan{
    padding: 64px;
}

.wedding__plan--title{
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #202020;
}

.wedding__plan--items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.wedding__plan--item--top img{
    width: 100%;
    height: auto;
}

.wedding__plan--item{
    width: 33.3333%;
    max-width: 285px;
    background: #FFFFFF;
}

.wedding__plan--item--title{
    text-align: center;
    color: #202020;
    margin: 18px 0px;
}

.wedding__plan--item--text{
    text-align: center;
    color: #202020;
    margin: 18px 0px;
    padding: 0px 32px;
}

/*section__fourth*/

.footer{
    background: url("../assets/images/footerBg.jpg") center no-repeat;
    background-size: cover;
    padding: 80px 0;

}

.footer__info{
    text-align: center;

}

.footer__couple{
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #202020;
    margin-top: 28px;
}

.footer__location{
    margin-top: 10px;
    font-size: 18px;
    line-height: 20px;
    color: #202020;
}