body{
    margin: 0;
    color: #333333;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    font-style: normal;
    font-weight: normal;

}

hr{
    border: 0;
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: #e5e5e5;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

/*section__first*/

.main{
    background: url("../assets/images/bg1.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main__title{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: rgba(32, 32, 32, 0.25);

}

.quote{
    width: 60%;
    background: #F9F5EC;
    position: absolute;
    top: 80%;
    left: 20%;
    display: flex;
    justify-content: space-around;
    color: #000000;
    padding: 36px;

}

.quote__text--title{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    margin: 4px 0px;
}

.quote__text--subtitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    margin-top: 16px;

}

.quote__text--maintext{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    width: 70%;
    margin-top: 4px;

}

/*section__second*/

.section__second{
    margin-top: 25%;
    background-color: blanchedalmond;
}

.principles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;

}

principles__item img{
    width: 100%;
    height: auto;
}

.principles__item-last{
    width: 40%;
    color: #FFFFFF;
    background: rgba(32, 32, 32, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 316px;
    padding: 20px;
}

.principles__item--title{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    margin: 20px 0px;
}

.principles__item--text{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/*section__third*/

.wish{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 48px 110px;

}

.wish__quote{
    width: 60%;
}

.wish__card{
    width: 40%;
}

.wish__quote--img{
    display: flex;
    justify-content: space-around;
}

.wish__quote--img img{

}

.wish__quote--text{
    margin-top: 36px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    position: relative;
}

.line{
    position: absolute;
    left: 10%;
    top: 0;
}

.wish__card{
    height: auto;
    width: 35%;
    padding: 83px 20px 20px 20px;
    background: #F9F5EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wish__card--title{
    color: black;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    margin: 20px 0px;
}

.wish__card--subtitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #202020;
    margin: 16px 0px;
}

.principles__item--text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/*section__fourth*/

.section__fourth{
    width: 100%;
    height: auto;

    color: #FFFFFF;
    background: rgb(15,15,7);
    background: linear-gradient(90deg, rgba(15,15,7,1) 0%, rgba(57,113,55,1) 29%, rgba(96,143,37,1) 51%, rgba(190,201,9,1) 71%, rgba(255,239,0,1) 100%);
}


.wedding__plan{
    padding: 64px;
    color: #FFFFFF;
}

.wedding__plan--title{
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.wedding__plan--items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.wedding__plan--item--top img{
    width: 100%;
    height: auto;
}

.wedding__plan--item{
    width: 33.3333%;
    max-width: 285px;
    background: rgba(32, 32, 32, 0.25);
}

.wedding__plan--item--title{
    text-align: center;
    margin: 18px 0px;
}

.wedding__plan--item--text{
    text-align: center;
    margin: 18px 0px;
    padding: 0px 32px;
}